*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout_bg{
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../Assets/Images/banner-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}